name: httomo
channels:
  - astra-toolbox
  - conda-forge
  - httomo
  - anaconda
dependencies:
  - astra-toolbox::astra-toolbox
  - conda-forge::click
  - conda-forge::cupy
  - conda-forge::h5py[build=*openmpi*]
  - conda-forge::hdf5plugin
  - conda-forge::mpi4py
  - conda-forge::pyyaml
  - conda-forge::numpy
  - conda-forge::nvtx
  - conda-forge::python
  - anaconda::ipython
  - conda-forge::tomopy
  - httomo::larix
  - httomo::tomobar
